.access {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.access__title {
  font-size: var(--size-2xl);
  font-weight: 900;
}

.access__description {
  font-size: var(--size-base);
  max-width: 60ch;
  font-weight: 400;
  padding-bottom: 2.5rem;
}

/* wrap */
.access__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4rem;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.access__wraps{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.access_description-1 {
  font-size: var(--size-base);
  max-width: 60ch;
  font-weight: 400;
  padding-top: 0.5rem;
  max-width: 25ch;
}

.access__wrap,
.access__wrap-img {
  margin-bottom: 0.7rem;
}

.access__description-wrap {
  line-height: 1.7;
  max-width: 25ch;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .access__title {
    font-size: var(--size-4xl);
    font-weight: 900;
  }

  .access__description {
    font-size: var(--size-xl);
  }

  .access__img {
    width: 800px;
  }

  .access__wrapper {
    font-size: var(--size-4xl);
  }

  .access_description-1 {
    font-size: var(--size-xl);
  }

  .access__wraps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .access__wrap {
    font-size: var(--size-2xl);
  }

  .access__description-wrap {
    font-size: var(--size-xl);
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
