.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .header__img{
    width: 9.375rem;
  }
}

/* md */
@media (min-width: 768px) {
  .header__img{
    width: 10.625rem;
  }
}


/* lg */
@media (min-width: 1024px) {
  .header__img{
    width: 11.875rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .header__img{
    width: 13.125rem;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
